/* External Stylesheet Appearing on all Webpages */
html {
    background-color: silver;
}

body {
    margin: 10px 50px;
    height: 100%;
    background-color: white;
    align-content: center;
}

form {
    text-align: center;
}

textarea {
    box-sizing: border-box;
    max-width: 80%;
    width: 450px;
    height: 500px;
}

.carousel {
    position: relative;
    margin: auto;
}

.carousel-control.left, .carousel-control.right {
    left: 0;
    z-index: 1;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}

.carousel-inner > .item > img {
    min-width: 100%;
}

.w-100 {
    margin: auto;
    width: 75% !important;
}

.imageCard {
    margin: auto;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, .1);
    text-align: center;
    box-shadow: 0 0 15px 0;
}

#uploadedImage, #uploadedTitle {
    text-align: center;
    margin: auto;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    max-width: 90%;
}

.nav-effect > #navbarNavAltMarkup > div > a:hover {
    background-color: lightblue;
    color: white;
}

.form-element {
    border: 30px white solid;
    width: 50%;
    margin: auto;
    text-align: center;
}